#scroll-container {
    width: 75%;
    float: left;
    height: 75%;
    padding: 10px;
    position: absolute;
}

#bank-scroller {
    height: 400px;
    width: auto;
    overflow: auto;
}

#rec-details{
    width: 22%;
    float: right;
}

.bank-rec-row {
    display: block;
    width: 100%;
    margin: auto;
}

.bank-data {
    display: inline-block;
    width: 180px;
    color: #2665C4;
    padding: 5px;
    word-wrap: break-word;
}

.bank-data-id {
    display: inline-block;
    width: 80px;
    color: #2665C4;
    padding: 5px;
}

.bank-data-checkbox {
    display: inline-block;
    width: 50px;
    color: #2665C4;
    padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.readonlytextinput {
    display: block;
}