#bank-grid {
    grid-template-columns: auto;
    grid-template-rows: 200px auto 200px;
}

#search-form {
    grid-row-start: 1;
    grid-row-end: 2;
}

#result-field {
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: scroll;
}

#rec-details{
    grid-row-start: 3;
    grid-row-end: row3-end;
}

.bank-rec-row {
    display: block;
    width: 100%;
    margin: 5px;
}

.bank-data {
    display: inline-block;
    width: 180px;
    color: #2665C4;
    padding: 5px;
    word-wrap: break-word;
}

.bank-data-id {
    display: inline-block;
    width: 80px;
    color: #2665C4;
    padding: 5px;
}

.bank-data-checkbox {
    display: inline-block;
    width: 50px;
    color: #2665C4;
    padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}